<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Roki Miftah Kamaludin" />
    <meta name="description" content="YT Channel Find" />
    <meta name="keywords" content="YT Channel Find" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="https://cdn.rokimiftah.id/projects/django/findyt/favicon.ico"
          type="image/x-icon" />
    <link rel="stylesheet"
          href="https://cdn.rokimiftah.id/projects/django/findyt/css/bulma.css">
    <title>YT Channel Find</title>
  </head>
  <body>
    {% include "findyt/channels.html" %}
    <script src="https://cdn.rokimiftah.id/projects/django/findyt/js/htmx.min.js"></script>
  </body>
</html>
